bcrypt==3.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
distlib==0.3.4
docx==0.2.4
et-xmlfile==1.1.0
filelock==3.6.0
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.8.0
MarkupSafe==2.0.1
mysql-connector-python==8.0.28
openpyxl==3.0.9
Pillow==9.0.1
platformdirs==2.5.1
pycparser==2.21
PyMySQL==1.0.2
PyPDF2==1.26.0
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.27
urllib3==1.26.8
virtualenv==20.13.3
Werkzeug==2.0.2
